// colors
$enff-purple: #9900CC;
$enff-old-purple: #8071b3;

$enff-red: #FF0000;

// font-sizes
$font-default: 16px;
$font-small: 13px;
$font-bigresponsive: 2em;

//importance of components
$z-index-front: 10;
$z-index-back: -1;